extends bpf_layout

block content
  #a-content.container
    ol.breadcrumb
      li
        a(href='/bpf/business', title='Barclays Partner Finance | Business')
      li
        a(href='/bpf/index.html', title='Personal')
          | Personal
      li.active= title
    h1#mainContent.title= title
    .col-sm-12.col-md-9
      .row
        .col-xs-12.col-sm-11.col-sm-push-1
          if details
            table
              tr
                th name
                th balance
                th next payment
                th payment date
              tr
                td= details.name
                td= details.balance
                td= details.nextPaymentAmount
                td= details.nextPaymentDate
          else
            form(method="POST")
              ul.form-group
                li.form-control
                  label.control-label(for='agreement_number') Agreement Number:&nbsp;
                  input#agreement_number.input-sm(type='text')
                  hr
                  label.control-label(for='date_of_birth') Date of birth:&nbsp;
                  input#date_of_birth.input-sm(type='text')
                  hr
                  label.control-label(for='postcode') Postcode:&nbsp;
                  input#postcode.input-sm(type='text')
                  hr
                  button.button(type='submit') submit
          .clearfix
        .col-xs-12.col-sm-1.col-sm-pull-11
          .row.row-social
            .col-xs-12
              // share links 1
              .share-tool
                ul.share-tool__list
                  li.share-tool__list-item.share-print
                    a(href='javascript:window.print();', title='Print document')
                      i.icon.icon__print
                      |  Print
    .col-sm-12.col-md-3.side-product
      .row
        .col-xs-12
          .links-list__container
            h2.links-list__heading  Need more info or got a question about your account?
            ul.links-list
              li
                a(href='https://contactus.barclayspartnerfinance.com/help/customer', title='Email us')
                  | Email us
              li
                a(href='tel:08001522888', title='telephone number')
                  | 0800 15 22 888
        .col-xs-12
          .links-list__container
            h2.links-list__heading  Related Links:
            ul.links-list
              li
                a(href='/bpf/personal/product-info', title='Product information')
                  | Product information
              li
                a.arrow-icon(href='/bpf/personal/faq', title='Frequently Asked Questions')
                  | Frequently Asked Questions
              li
                a.arrow-icon(href='/bpf/contact-us', title='Contact us')
                  | Contact us
