body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

blockquote {
  border: 1px solid #888;
  padding: 1em;
  margin: 1em;
  background-color: #fafafa;
  font-family: monospace;
  white-space: pre;
}
